<footer class="main-footer wow fadeIn" data-wow-delay="1.5s">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-3 wow zoomIn" data-wow-delay="1.5s">
                <img src="../images/logo/criabiz-ventures-white.png" alt=""></div>
                <div class="col-4 col-lg-2">
                    <ul>
                        <li class="title wow fadeInUp" data-wow-delay="1.5s">
                            Saiba mais
                        </li>
                        <li class="wow fadeInUp" data-wow-delay="1.5s">
                            <a href="#">Home</a>
                        </li>
                        <li class="wow fadeInUp" data-wow-delay="1.5s">
                            <a href="#">Sobre Nós</a>
                        </li>
                        <li class="wow fadeInUp" data-wow-delay="1.5s">
                            <a href="#">Imprensa</a>
                        </li>
                        <li class="wow fadeInUp" data-wow-delay="1.5s">
                            <a href="#">Nossos Projetos</a>
                        </li>
                        <li class="wow fadeInUp" data-wow-delay="1.5s">
                            <a href="#">BovBrasil</a>
                        </li>
                    </ul>
                </div>
                <div class="col-4 col-lg-2">
                    <ul>
                        <li class="title wow fadeInUp" data-wow-delay="1.5s">
                            Negócio
                        </li>
                        <li class="wow fadeInUp" data-wow-delay="1.5s">
                            <a href="#">Empresas</a>
                        </li>
                        <li class="wow fadeInUp" data-wow-delay="1.5s">
                            <a href="#">Startups</a>
                        </li>
                        <li class="wow fadeInUp" data-wow-delay="1.5s">
                            <a href="#">Investidores Anjo</a>
                        </li>
                    </ul>
                </div>
                <div class="col-4 col-lg-2">
                    <ul>
                        <li class="title wow fadeInUp" data-wow-delay="1.5s">
                            Projetos
                        </li>
                        <li class="wow fadeInUp" data-wow-delay="1.5s">
                            <a href="#">Industria .0</a>
                        </li>
                        <li class="wow fadeInUp" data-wow-delay="1.5s">
                            <a href="#">Agro 4.0</a>
                        </li>
                        <li class="wow fadeInUp" data-wow-delay="1.5s">
                            <a href="#">Edu 5.0</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-12 col-lg-2 pt-3 pt-lg-0">
                    <ul class="text-center text-lg-left">
                        <li class="title wow fadeInUp" data-wow-delay="1.5s">
                            Contato
                        </li>
                        <li class="wow fadeInUp" data-wow-delay="1.5s">
                            <div class="social">
                                <a href="#">
                                    <i class="fab fa-facebook-f" title="Facebook"></i>
                                </a>

                                <a href="#">
                                    <i class="fab fa-instagram" title="Instagram"></i>
                                </a>

                                <a href="#">
                                    <i class="fab fa-twitter" title="Twitter"></i>
                                </a>

                                <a href="#">
                                    <i class="fab fa-youtube" title="Youtube"></i>
                                </a>

                                <a href="#">
                                    <i class="fab fa-wordpress" title="Wordpress"></i>
                                </a>
                            </div>
                        </li>
                        <li class="wow fadeInUp" data-wow-delay="1.5s">
                            <a href="mailto:contato@criabiz.com">contato@criabiz.com</a>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="copyright">
                <hr class="line wow zoomIn" data-wow-delay="1.5s">

                    <p class="wow fadeInUp" data-wow-delay="1.5s">
                        @ 2019 Criabiz Todos Direitos Reservados
                    </p>
                </div>
            </div>
        </footer>