<header id="main-header" class="main-header wow fadeInDown">
    <div class="container">
        <div class="main-header__content">
            <a href="#">
                <img
                    src="../images/logo/criabiz-ventures.png"
                    alt="Logo CriaBiz Ventures"
                    class="brand wow fadeInLeft"/></a>

            <nav class="main-nav">
                <ul>
                    <li class="wow fadeInRight" data-wow-delay="0.3s">
                        <a href="./sobre.html">Sobre</a>
                    </li>
                    <li class="wow fadeInRight" data-wow-delay="0.2s">
                        <a href="./nossos-projetos.html">Nossos projetos</a>
                    </li>
                    <li class="wow fadeInRight" data-wow-delay="0.2s">
                        <a href="./imprensa.html">Imprensa</a>
                    </li>
                    <li class="wow fadeInRight" data-wow-delay="0.2s">
                        <a href="./contato.html">Contato</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>