@import './_home-banner',
        './_about-circle',
        './_painel-numeros',
        './_verticais-neg',
        './_programas-impacto',
        './_parceiros-sec',
        './_case-invest',
        './_carteira-sec',
        './_sub-header.scss';