.banner-curso {
    padding-bottom: 150px;

    @media screen and (min-width: $bp-LG) and (max-width: 1368px){
        @include scale(0.8);
    }

    @media screen and (max-width: $bp-LG){
        padding-bottom: 70px;
    }

    &__content {
        padding: 0 50px;

        @media screen and (max-width: $bp-MD){
            padding: 0 30px;
        }
    }

    &__caption {
        padding-left: 30px;

        @media screen and (max-width: $bp-LG){
            padding-left: 0;
        }

        .title {
            font-size: 34px;
            color: $c-health-sec;
            font-weight: 800;
            margin-bottom: 50px;

            @media screen and (max-width: $bp-LG){
                font-size: 28px;
                text-align: center;
                padding-top: 20px;
                margin-bottom: 15px;
            }

            @media screen and (max-width: $bp-MD){
                font-size: 25px;
            }

            @media screen and (min-width: $bp-LG) and (max-width: 1368px){
                font-size: 30px;
            }
        }

        .desc {
           p{
            font-size: 17px;
            color: $color-dark;
            max-width: 414px;
            line-height: 1.8;

            @media screen and (max-width: $bp-LG){
                font-size: 15px;
                text-align: center;
                margin: 0 auto;
            }

            @media screen and (max-width: $bp-MD){
                font-size: 14px;
            }

            @media screen and (min-width: $bp-LG) and (max-width: 1368px){
                font-size: 15px;
            }
           }
           
        }
    }

    img {
        width: 100%;

        @media screen and (max-width: $bp-LG){
            margin: 0 auto;
            max-width: 300px;
            display: block;
        }
    }
}
