.carteira-sec {
    padding-top:  95px;

    @media screen and (max-width: $bp-LG) {
        padding-top: 50px;
    }
    
    @media screen and (max-width: $bp-MD) {
        padding-top: 30px;
    }

    @media screen and (min-width: $bp-LG) and (max-width: 1368px){
        @include scale(0.8);
        padding-top: 0;
        padding-bottom: 0;
        margin-top: -30px;
        margin-bottom: -90px;
    }

    .sub-header {
        margin-bottom: 55px;
        @media screen and (max-width: $bp-LG) {
            margin-bottom: 35px;
        }

        .title{
            @media screen and (max-width: $bp-MD){
                font-size: 23px !important;
            }
        }
    }

    &__buttons {
        padding-bottom: 20px;

        &-item {
            background: none;
            border: none;
            @include transition();

            &:hover {
                @include scale(1.05);
            }

            img {
                height: 60px;
                object-fit: contain;
                object-position: center;
                max-width: 390px;
                margin: 0 15px;
                margin-bottom: 30px;

                &.vertical{
                    height: 150px;
                }

                &.md {
                    width: 80%;
                }
            }
        }
    }

    &__carousel {
        position: relative;
        padding: 0 100px;
        margin-top: 35.4px;
        @media screen and (max-width: $bp-MD) {
            padding: 0 40px;
            margin-top: 20px;
        }

        &-arrows {

            .next,
            .prev {
                position: absolute;
                top: 46%;
                background: none;
                border: none;
                color: $c-education-primary;
                font-size: 39px;
                @include transition();

                @media screen and (max-width: $bp-XL) {
                    font-size: 35px;
                }

                @media screen and (max-width: $bp-MD) {
                    font-size: 20px;
                }

                &:hover {
                    @include scale(1.1);
                }

                &:active,
                &:focus,
                &:hover {
                    outline: none;
                }
            }

            .prev {
                left: 35px;
                @media screen and (max-width: $bp-LG) {
                    left: 0;
                }
            }

            .next {
                left: unset;
                right: 0;
            }

        }

        &-item {
            display: none;
            animation: fadeIn 0.4s;

            &[data-visible="true"] {
                display: block;
            }

            .banner-img {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;

                img {
                    width: 68.5%;
                    @media screen and (max-width: $bp-LG) {
                        max-width: 200px;
                        margin: 0 auto;
                    }
                    @media screen and (max-width: $bp-MD) {
                        width: 65%;
                        max-height: 130px;
                        object-fit: contain;
                    }
                }
            }

            .caption {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                height: 100%;
                
                @media screen and (max-width: $bp-LG){
                    padding-top: 50px;
                }

                .title {
                    font-size: 40px;
                    color: $c-education-primary;
                    font-weight: 700;
                    @media screen and (max-width: $bp-XL) {
                        font-size: 40px;
                    }
                    @media screen and (max-width: $bp-LG) {
                        display: none;
                    }
                }

                .desc {
                    font-size: 25px;
                    color: $color-dark;
                    line-height: 1.6;
                    text-align: center;
                    @media screen and (max-width: $bp-XL) {
                        font-size: 25px;
                    }
                    @media screen and (max-width: $bp-LG) {
                        font-size: 21px;
                        padding-left: 10px;
                        margin-top: -25px;
                    }
                    @media screen and (max-width: $bp-MD) {
                        font-size: 15px;
                        padding-left: 0;
                        line-height: 1.24;
                    }
                }

                .more{
                    text-decoration: underline;
                    color: $color-dark;
                    @include transition();

                    &:hover{
                        @include scale(1.05);
                    }
                }
            }
        }
    }

}
