.contato{
    padding-top: 210px;
    padding-bottom: 150px;

    @media screen and (max-width: $bp-LG){
        padding-top: 200px;
        padding-bottom: 85px;
    }

    .sub-header{
        margin-bottom: 85px;

        @media screen and (max-width: $bp-LG){
            margin-bottom: 30px;
        }

        .title{
            @media screen and (max-width: $bp-LG){
                font-size: 24px;
            }
        }
        .line{
            @media screen and (min-width: $bp-LG){
                width: 56%;
            }

            @media screen and (max-width: $bp-LG){
                height: 3.5px;
            }
        }
    }

    .desc{
        p{
            font-size: 24px;
            padding-right: 50px;
            color: $color-dark;

            @media screen and (max-width: $bp-LG){
                font-size: 17px;
                text-align: center;
                padding-right: 0;
            }
        }
    }

    iframe{
        height: 400px;
        border: none;

        @media screen and (max-width: $bp-LG){
            height: 300px;
            margin-top: 25px;
        }
    }
}