.contato{
    padding-top: 210px;
    padding-bottom: 150px;

    @media screen and (max-width: $bp-LG){
        padding-top: 200px;
        padding-bottom: 85px;
    }

    .sub-header{
        margin-bottom: 85px;

        @media screen and (max-width: $bp-LG){
            margin-bottom: 30px;
        }

        .title{
            @media screen and (max-width: $bp-LG){
                font-size: 24px;
            }
        }
        .line{
            @media screen and (min-width: $bp-LG){
                width: 56%;
            }

            @media screen and (max-width: $bp-LG){
                height: 3.5px;
            }
        }
    }

    .desc{
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        padding-left: 120px;
        padding-bottom: 25px;
        text-align: left;

        @media screen and (max-width: $bp-LG){
            padding-left: 0px;
            padding-bottom: 0;
        }

        p{
            font-size: 28px;
            color: #383838;
            opacity: .9;

            b{
                font-size: 30px;

                @media screen and (max-width: $bp-LG){
                    font-size: 23px;
                }
            }

            a{
                color: #383838!important;
            }

            @media screen and (max-width: $bp-LG){
                font-size: 17px;
                text-align: center;
                padding-right: 0;
            }
        }
    }

    iframe{
        height: 400px;
        border: none;

        @media screen and (max-width: $bp-LG){
            height: 300px;
            margin-top: 25px;
        }
    }
}