.empresas-sec {
    padding-bottom: 110px;

    @media screen and (max-width: $bp-LG) {
        padding-bottom: 75px;
    }

    @media screen and (min-width: $bp-LG) and (max-width: 1368px){
        @include scale(0.8);
        margin-top: -150px;
        margin-bottom: -200px;
    }

    &__header {
        padding-top: 210px;
        padding-bottom: 80px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center bottom;

        @media screen and (max-width: $bp-LG) {
            padding-top: 150px;
            padding-bottom: 35px;
        }

        .content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            max-width: 700px;
            margin: 0 auto;

            &.lg{
                max-width: 900px;
                padding-bottom: 60px;

                @media screen and (max-width: $bp-LG){
                    padding-bottom: 30px;
                }
            }

            .title {
                font-size: 44px;
                font-weight: 800;
                text-align: center;
                max-width: 680px;
                margin: 0 auto 30px;

                &.lg{
                    max-width: 750px;
                }

                @media screen and (max-width: $bp-LG) {
                    font-size: 25px;
                    margin-bottom: 20px;
                }
            }

            .subtitle{
                font-size: 23px;
                color: #fff;
                text-align: center;
                max-width: 600px;
                margin: 0 auto;

                @media screen and (max-width: $bp-LG){
                    font-size: 17px;
                }
            }

            .desc {
                font-size: 19px;

                @media screen and (max-width: $bp-LG) {
                    font-size: 14px;
                    padding-left: 10px;
                    text-align: center;
                }
            }
        }
    }

    &__content {
        padding-top: 70px;

        @media screen and (max-width: $bp-LG) {
            padding-top: 30px;
        }

        .subtitle {
            font-size: 22px;
            color: $color-dark;
            font-weight: bold;
            max-width: 970px;
            color: #4F4F4F;
            margin: 0 auto;
            text-align: center;
            margin-bottom: 60px;

            @media screen and (max-width: $bp-LG) {
                font-size: 15px;
                max-width: 90%;
                margin: 0 auto;
                font-weight: 400;
                margin-bottom: 35px;
            }
        }

        .sub-desc {
            font-size: 17px;
            color: $color-dark;
            font-weight: 400;
            max-width: 870px;
            color: #4F4F4F;
            margin: 0 auto;
            margin-bottom: 90px;
            text-align: left;


            h4{
                font-weight: 800;
                text-transform: uppercase;
                font-size: 1.7rem;
                color: $c-ventures-primary;
                border-bottom: 3px solid $c-ventures-primary;

                @media screen and (max-width: $bp-MD){
                    font-size: 1.5rem;
                }
            }

            @media screen and (min-width: $bp-LG){
                b{
                    margin-bottom: -10px;
                }

                p{
                    margin-bottom: 25px;
                }
            }

            @media screen and (max-width: $bp-LG) {
                font-size: 15px;
                max-width: 90%;
                margin: 0 auto;
                font-weight: 400;
                margin-bottom: 35px;
            }
        }

        .title {
            color: $c-impact-primary;
            font-size: 38px;
            text-align: center;
            font-weight: bold;
            @media screen and (max-width: $bp-LG) {
                font-size: 22px;
                max-width: 80%;
                margin: 0 auto;
            }
        }

        .line {
            background-color: $c-impact-primary;
            height: 4px;
            width: 46%;
            margin: 20px auto 30px;
            @media screen and (max-width: $bp-LG) {
                width: 95%;
                margin-top: 10px;
                margin-bottom: 10px;
                height: 3px;
            }
        }

        .desc {
            font-size: 22px;
            font-weight: bold;
            color: #383838;
            text-align: center;
            margin-bottom: 40px;

            @media screen and (max-width: $bp-LG) {
                font-size: 17px;
                font-weight: 500;
                margin-bottom: 30px;
            }
        }
    }

    &__form {
        padding: 20px 215px 0;
        
        @media screen and (max-width: $bp-XL){
            padding: 20px 150px 0;
        }

        @media screen and (max-width: $bp-LG) {
            padding: 0 5px;
        }
    }

    

    &__success{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        .icon{
            color: $c-ventures-sec;
            font-size: 80px;
            margin-bottom: 0px;

            @media screen and (min-width: $bp-LG){
                font-size: 85px;
            }
        }

        .title{
            font-size: 23px;
            font-weight: bold;
            color: $c-ventures-sec;

            @media screen and (min-width: $bp-LG){
                font-size: 38px;
                max-width: 700px;
                margin: 0 auto;
                color: $color-dark !important;
                margin-bottom: 20px;
            }
        }

        .desc{
            font-size: 12px;
            padding: 0 10px;
            color: $color-dark;

            @media screen and (min-width: $bp-LG){
                font-size: 20px;
                max-width: 600px;
                margin: 0 auto;
                margin-bottom: 15px;
            }
        }

        .send-btn{
            @media screen and (min-width: $bp-LG){
                padding: 4.5px 38px;
            }
        }
    }
}

.mobile__steps {
    position: relative;
    display: flex;
    margin-bottom: 20px;

    .step {
        white-space: nowrap;
        font-size: 13px;
        color: rgba(0,0,0,.2);

        .text{
            display: block;
            padding-left: 5px;
            margin-bottom: 4px;
        }

        &.step-2{
            .text{
                padding-left: 10px;
                padding-right: 8px;
            }
        }

        .line {
            height: 3px;
            width: 100%;
            background-color: rgba(0,0,0,.2);
        }

        &.active {
            font-weight: bold;
            color: $c-impact-primary;

            .line {
                height: 3px;
                width: 100%;
                background-color: $c-impact-primary;
            }

            &.yellow{
                color: $c-angels-sec;

                .line {
                    background-color: $c-angels-sec;
                }
            }
        }
    }
}