.empresas-sec {
    &__header {
        padding-top: 230px;
        padding-bottom: 60px;
        background-repeat: no-repeat;
        background-size: cover;

        .content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            max-width: 700px;
            margin: 0 auto;
            
            .title{
                font-size: 50px;
                font-weight: 800;
                text-align: center;
                max-width: 680px;
                margin: 0 auto;
                margin-bottom: 50px;
            }

            .desc{
                font-size: 23px;
            }
        }
    }

    &__content{
        padding-top: 120px;

        .subtitle{
            color: $color-dark;
        }
    }
}
