.equipe-sec {
    padding-top: 100px;
    padding-bottom: 20px;
    @media screen and (max-width: $bp-XL) {
        padding-bottom: 0;
    }
    @media screen and (max-width: $bp-MD) {
        padding-top: 34px;
        margin-bottom: 20px;
    }
    @media screen and (min-width: $bp-LG) and (max-width: 1368px) {
        padding-top: 65px;
        padding-bottom: 0px;
    }

    .sub-header {
        margin-bottom: 65px;

        .line {
            background-color: $c-health-sec;
            @media screen and (min-width: $bp-XL) {
                width: 58%;
            }

        }

        .title {
            color: $c-health-sec;
        }
    }

    .top-header {
        padding-bottom: 25px;
        @media screen and (max-width: $bp-MD) {
            padding-bottom: 0;
            margin-bottom: -30px;
        }

        .title {
            @media screen and (min-width: $bp-LG) {
                font-size: 30px;
                max-width: 750px;
                margin: 0 auto;
                padding-bottom: 10px;
            }
            @media screen and (max-width: $bp-MD) {
                font-size: 18px;
            }
        }

        .desc {
            @media screen and (min-width: $bp-LG) {
                font-size: 18px;
                margin-top: -10px;
            }
        }
    }

    &__people {
        margin-top: -50px;
        @media screen and (max-width: $bp-LG) {
            margin-top: -40px;
        }

        &-item {
            padding-top: 30px;
            padding-bottom: 30px;
            border-bottom: 3.5px solid $c-health-sec;
            @media screen and (max-width: $bp-LG) {
                border-bottom: 0;
                padding-top: 10px;
            }

            .about {
                @media screen and (max-width: $bp-LG) {
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;

                    .img {
                        order: 1;
                    }

                    & > div {
                        order: 2;
                    }
                }

                .name {
                    font-size: 29px;
                    color: $c-health-sec;
                    font-weight: 800;
                    margin-bottom: 25px;

                    a{
                        color: inherit !important;

                        &:hover{
                            text-decoration: underline;
                        }
                    }

                    @media screen and (min-width: $bp-LG) {
                        white-space: nowrap;
                    }

                    @media screen and (max-width: $bp-LG) {
                        font-size: 18px;
                        font-weight: 500;
                        padding-left: 15px;
                        margin-bottom: 5px;
                    }
                    @media screen and (min-width: $bp-LG) and (max-width: 1368px) {
                        font-size: 25px;
                    }
                }

                .ocupation {
                    color: $color-dark;
                    font-size: 16px;
                    font-weight: 500;
                    margin-bottom: 30px;
                    @media screen and (max-width: $bp-LG) {
                        font-size: 13px;
                        font-weight: 500;
                        padding-left: 15px;
                    }
                    @media screen and (min-width: $bp-LG) and (max-width: 1368px) {
                        font-size: 14px;
                    }
                }

                .img {
                    width: 80%;
                    @media screen and (min-width: $bp-LG) and (max-width: 1368px) {
                        width: 70%;
                    }
                    @media screen and (max-width: $bp-LG) {
                        width: 150px;
                        object-fit: contain;
                    }
                }
            }

            .caption {
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 100%;

                .desc {
                    color: $color-dark;
                    font-size: 16px;
                    padding-left: 70px;
                    padding-right: 50px;
                    @media screen and (max-width: $bp-XL) {
                        font-size: 15px;
                        padding-left: 130px;
                    }
                    @media screen and (max-width: $bp-LG) {
                        font-size: 14px;
                        line-height: 1.2;
                        box-shadow: 0 5px 4px 4px rgba(0,0,0,.03);
                        padding: 10px 25px 6px 15px;
                        margin-top: 10px;
                    }
                    @media screen and (min-width: $bp-LG) and (max-width: 1368px) {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .conselheiros {
        padding-top: 80px;
        border-bottom: 3.5px solid $c-health-sec;
        @media screen and (max-width: $bp-LG) {
            padding-top: 20px;
            border-bottom: 0;
        }

        @media screen and (min-width: $bp-LG) and (max-width: 1368px){
            @include scale(0.8);
            margin-top: -100px;
        }

        .sub-header {
            margin-bottom: 20px;
            @media screen and (max-width: $bp-LG) {
                margin-bottom: 30px;

                .title {
                    font-size: 25px;
                }
            }
        }

        &__item {
            display: flex;
            justify-content: center;
            padding-top: 30px;
            padding-bottom: 30px;
            @media screen and (max-width: $bp-LG) {
                box-shadow: 0 5px 4px 4px rgba(0,0,0,.03);
                padding-top: 20px;
                margin-bottom: 10px;
            }

            .about {
                text-align: left;
                @media screen and (max-width: $bp-LG) {
                    text-align: center;
                }

                .name {
                    font-size: 28px;
                    color: $c-health-sec;
                    font-weight: 800;
                    margin-bottom: 15px;

                    @media screen and (max-width: $bp-XL) {
                        font-size: 30px;
                    }
                    @media screen and (max-width: $bp-LG) {
                        font-size: 20px;
                        font-weight: 500;
                    }
                    @media screen and (min-width: $bp-LG) and (max-width: 1368px){
                        font-size: 28px;
                    }

                    a{
                        color: inherit !important;

                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }

                .ocupation {
                    color: $color-dark;
                    font-size: 17px;
                    font-weight: 500;
                    margin-bottom: 30px;

                    a{
                        color: inherit !important;

                        &:hover{
                            text-decoration: underline;
                        }
                    }

                    @media screen and (max-width: $bp-XL) {
                        font-size: 16px;
                    }
                    @media screen and (max-width: $bp-LG) {
                        font-size: 12px;
                    }
                }

                .img {
                    display: block;
                    width: 100%;
                    max-width: 250px;
                    margin: 0 auto;
                    @media screen and (max-width: $bp-LG) {
                        max-width: 160px;
                        margin-top: -15px;
                    }
                }
            }
        }

    }

}
