.painel-numeros {
    padding-top: 80px;

    &__content {
        border-radius: 16px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.441);
        background-color: $c-ventures-terc;

        .header {
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            padding: 23px 0;
            border-bottom: 1.5px solid rgba(255, 255, 255, 0.432);

            .title {
                font-weight: 700;
                margin-bottom: 5px;
            }
        }

        .info {
            display: flex;

            .column {
                width: 50%;
                &:nth-child(2) {
                    border-left: 1.5px solid rgba(255, 255, 255, 0.46);

                    .content {
                        padding-left: 20px;
                    }
                }
            }
        }

        .subheader {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 10px;
            padding-bottom: 5px;
            border-bottom: 1.5px solid rgba(255, 255, 255, 0.46);

            .subtitle {
                font-weight: 700;
            }
        }

        .content {
            padding-left: 60px;
            padding-top: 25px;
            padding-bottom: 65px;

            .group {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-bottom: 40px;

                .financial-number {
                    display: flex;
                    justify-content: center;
                    min-width: 350px;
                    font-size: 22px;
                    border-radius: 22px;
                    padding: 8px 55px;
                    color: $c-ventures-sec;
                    background-color: #fff;
                }

                .sub-desc {
                    margin-top: 5px;
                    font-size: 18px;
                    margin-left: 10px;
                }
            }

            .sub-group {
                display: flex;
                align-items: center;
                margin-bottom: 35px;

                .financial-number {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 20px;
                    min-width: 250px;
                    border-radius: 22px;
                    padding: 8px 0;
                    color: $c-ventures-primary;
                    background-color: #fff;
                }

                .sub-desc {
                    font-size: 14px;
                    margin-left: 16px;
                    margin-bottom: 10px;

                    &.has-mw {
                        max-width: 180px;
                    }
                }
            }

            .sub-desc {
                font-size: 16px;
                margin-top: 5px;
                font-weight: 300;
                padding-left: 3px;
            }
        }
    }

    &__footer{
        background-color: #fff;
        border-radius: 0 0 16px 16px;
        padding-top: 20px;
        padding-bottom: 50px;

        .title{
            color: $c-ventures-primary;
            text-align: center;
            font-weight: 700;
            margin-bottom: 35px;
        }

        .brands{
            display: flex;
            align-items: center;
            justify-content: center;
            
            img{
                height: 90px;
                margin: 0 20px;
                @include transition();

                &:hover{
                    @include scale(1.02);
                }
            }
        }
    }
}
