.parceiros-sec{
    padding-top: 120px;
    padding-bottom: 100px;

    @media screen and (max-width: $bp-LG){
        padding-top: 65px;
        padding-bottom: 80px;
    }

    .sub-header{
        @media screen and (min-width: $bp-XL){
            .line{
                width: 55% !important;
            }
        }
    }

    img{
        width: 280px;
        margin: 10px;
        max-height: 195px;
        object-fit: contain;
        @include transition();

        @media screen and (max-width: $bp-MD){
            width: 110px;
            max-height: 80px;
        }
        &:hover{
            @include scale(1.05);
        }
    }

    .copy{
        p{
            margin-bottom: 0;
        }
    }
}