.parceiros-sec {
    padding-top: 120px;
    padding-bottom: 100px;
    @media screen and (max-width: $bp-LG) {
        padding-top: 45px;
        padding-bottom: 80px;
    }

    .sub-header {
        @media screen and (min-width: $bp-XL) {
            .line {
                width: 55% !important;
            }
        }
    }

    .copy {
        p {
            margin-bottom: 0;
        }
    }

    &__item {
        display: block;
        padding: 0 20px;
        width: 100%;

        img {
            width: 90%;
            height: 150px;
            margin: 10px auto;
            object-fit: contain;
            object-position: center;

            &:hover {
                @include scale(1.05);
            }
        }
    }
}
