.programas-impacto{
    padding-top: 55px;

    @media screen and (max-width: $bp-LG){
        padding-top: 25px;
    }

    @media screen and (max-width: $bp-SM){
        padding-top: 15px;
    }

    .sub-header{
        padding-bottom: 50px;

        @media screen and (max-width: $bp-LG){
            padding-bottom: 15px;
        }
    }

    &__item{
        background-color: #fff;
        box-sizing: 5px 5px 10px;
        width: 100%;
        border-radius: 8px;
        box-shadow: 2px 5px 10px rgba(0,0,0,.2);
        height: 160px;
        padding: 15px 10px;
        @include transition();

        @media screen and (max-width: $bp-LG){
            width: 100%;
            margin: 0 auto;
            padding: 10px 15px;
            height: 90px;
            margin-bottom: 15px;
        }

        &:hover{
            @include scale(1.05);
        }

        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center center;
        }
    }
}