.programas-impacto{
    padding-top: 85px;

    .sub-header{
        padding-bottom: 50px;
    }

    &__item{
        background-color: #fff;
        box-sizing: 5px 5px 10px;
        width: 100%;
        border-radius: 8px;
        box-shadow: 2px 5px 10px rgba(0,0,0,.2);
        height: 160px;
        padding: 15px 10px;
        @include transition();

        &:hover{
            @include scale(1.05);
        }

        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center center;
        }
    }
}