.sub-header {

    @media screen and (min-width: $bp-LG) and (max-width: 1368px){
        @include scale(0.8);
    }
    
    .title {
        text-align: center;
        color: $c-ventures-sec;
        font-weight: 700;

        @media screen and (max-width: $bp-LG) {
            font-size: 26px;
            width: 90%;
            margin: 0 auto;
            text-align: center;
            color: $c-impact-primary;
            margin-bottom: -5px;
        }

        @media screen and (max-width: $bp-MD) {
            font-size: 19px;
            width: 90%;
            margin: 0 auto;
            text-align: center;
            color: $c-impact-primary;
            margin-bottom: -5px;
        }

        &.lg{
            font-size: 25.5px;

            @media screen and (min-width: $bp-LG){
                font-size: 47.5px;
            }
        }

    }

    .line {
        border: none;
        height: 5px;
        width: 65%;
        background-color: $c-ventures-sec;

        @media screen and (max-width: $bp-LG) {
            width: 70%;
            background-color: $c-ventures-sec;
            margin-bottom: 12px;
        }

        @media screen and (max-width: $bp-MD) {
            width: 90%;
            background-color: $c-ventures-sec;
            margin-bottom: 12px;
        }
    }

    .desc {
        font-size: 17px;
        color: $color-dark;
        font-weight: 400;
        text-align: center;
        padding-top: 25px;
        letter-spacing: 0.2px;
        

        @media screen and (max-width: $bp-LG) {
            padding-top: 0px;
            font-size: 15px;
            line-height: 1.5;
            max-width: 450px;
            margin: 0 auto;
        }

        @media screen and (max-width: $bp-MD){
            font-size: 13px;
        }
    }

    &.lg{
        @media screen and (min-width: $bp-LG){
            .title{
                font-size: 38px;
            }

            .line{
                width: 55%;
            }
        }
    }
}
