.verticais-neg{
    padding-top: 130px;
    max-width: 100vw;
    overflow: hidden;

    @media screen and (max-width: $bp-MD){
        padding-top: 35px;
    }

    &__brands{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-top: 240px;
        padding-bottom: 300px;

        @media screen and (max-width: $bp-LG){
            padding-top: 150px;
        }

        @media screen and (max-width: $bp-MD){
            padding-top: 112.5px;
            padding-bottom: 150px;
            padding-left: 13.5px;
            margin-top: 20px;
        }

        @media screen and (min-width: 767px) and (max-width: 769px){
            max-width: 400px;
            margin: 0 auto;
        }

        &-main{
            img{
                width: 280px;

                @media screen and (max-width: $bp-LG){
                    width: 180px;
                }

                @media screen and (max-width: $bp-MD){
                    width: 120px;
                }
            }
        }

        &-sub{
            position: absolute;
            
            img{
                width: 175px;
                @include transition();

                @media screen and (max-width: $bp-LG){
                    width: 123px;
                }

                @media screen and (max-width: $bp-MD){
                    width: 85px;
                }

                &:hover{
                    @include scale(1.05);
                }
            }

            &.item-1{
                top: 10px;
                left: calc(50% - 120px);
                transform: translateX(-50%);

                @media screen and (max-width: $bp-LG){
                    left: calc(50% - 75px);
                }

                @media screen and (max-width: $bp-MD){
                    left: calc(50% - 50px);
                }
            }

            &.item-2{
                top: 10px;
                left: calc(50% + 150px);
                transform: translateX(-50%);

                @media screen and (max-width: $bp-LG){
                    left: calc(50% + 100.5px);
                }


                @media screen and (max-width: $bp-MD){
                    left: calc(50% + 70px);
                }
            }

            &.item-3{
                top: 230px;
                left: calc(75%);
                transform: translateX(-50%);

                @media screen and (max-width: $bp-LG){
                    top: 135px;
                    left: calc(80%);
                }

                @media screen and (max-width: $bp-MD){
                    left: calc(83%);
                    top: 100px;
                }

                @media screen and (max-width: $bp-SM){
                    left: calc(88%);
                    top: 100px;
                }
            }

            &.item-4{
                top: 435px;
                left: calc(74.5%);
                transform: translateX(-50%);

                @media screen and (max-width: $bp-LG){
                    top: 270px;
                    left: calc(79.5%);
                }

                @media screen and (max-width: $bp-MD){
                    left: calc(83%);
                    top: 205px;
                }

                @media screen and (max-width: $bp-SM){
                    left: calc(87%);
                    top: 205px;
                }

                @media screen and (max-width: 320px){
                    left: calc(90%);
                    top: 195px;
                }
            
            }

            &.item-6{
                top: 628px;
                left: calc(50% - 110px);
                transform: translateX(-50%);

                @media screen and (max-width: $bp-LG){
                    top: 377px;
                    left: calc(41%);
                }

                @media screen and (max-width: $bp-MD){
                    top: 265px;
                    left: calc(50% - 50px);
                }
            
            }

            &.item-5{
                top: 620px;
                left: calc(50% + 140px);
                transform: translateX(-50%);

                @media screen and (max-width: $bp-LG){
                    top: 370px;
                    left: calc(62.5%);
                }

                @media screen and (max-width: $bp-MD){
                    top: 260px;
                    left: calc(50% + 70px);
                }
            
            }

            &.item-7{
                top: 440px;
                left: calc(26%);
                transform: translateX(-50%);

                @media screen and (max-width: $bp-LG){
                    top: 120px;
                    left: calc(22%);
                }

                @media screen and (max-width: $bp-MD){
                    left: calc(20.5%);
                    top: 200px;
                }

                @media screen and (max-width: $bp-SM){
                    left: calc(14%);
                    top: 200px;
                }
            }
            
            &.item-8{
                top: 210px;
                left: calc(25.5%);
                transform: translateX(-50%);

                @media screen and (max-width: $bp-LG){
                    top: 256px;
                    left: calc(22.5%);
                }

                @media screen and (max-width: $bp-MD){
                    left: calc(21%);
                    top: 89.5px;
                }

                @media screen and (max-width: $bp-SM){
                    left: calc(14%);
                    top: 89.5px;
                }
            }
        }
    }
}