.verticais-neg{
    padding-top: 130px;
    max-width: 100vw;
    overflow: hidden;

    @media screen and (max-width: $bp-MD){
        padding-top: 35px;
    }

    &__brands{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-top: 180px;
        padding-bottom: 220px;

        @media screen and (max-width: $bp-LG){
            padding-top: 150px;
            margin-top: 35px;
        }

        @media screen and (max-width: $bp-MD){
            padding-top: 112.5px;
            padding-bottom: 150px;
            padding-left: 13.5px;
            margin-top: 20px;
        }

        @media screen and (min-width: 767px) and (max-width: 769px){
            max-width: 500px;
            margin: 0 auto;
        }

        &-main{
            img{
                width: 230px;

                @media screen and (max-width: $bp-LG){
                    width: 180px;
                }

                @media screen and (max-width: $bp-MD){
                    width: 120px;
                }
            }
        }

        &-sub{
            position: absolute;
            margin-left: -14%;
            @include transition();

            @media screen and (min-width: 360px){
                margin-left: -12.5%;
            }

            @media screen and (min-width: 400px){
                margin-left: -10.8%;
            }

            @media screen and (min-width: $bp-SM){
                margin-left: -10%;
            }

            @media screen and (min-width: $bp-LG){
                margin-left: -8%;
            }

            &:hover{
               transform: scale(1.1);
            }
            
            img{
                width: 145px;
                @include transition();

                @media screen and (max-width: $bp-LG){
                    width: 123px;
                }

                @media screen and (max-width: $bp-MD){
                    width: 85px;
                }
            }

            &.item-1{
                top: 10px;
                left: calc(50% - 70px);

                @media screen and (max-width: $bp-LG){
                    left: calc(50% - 75px);
                }

                @media screen and (max-width: $bp-MD){
                    left: calc(50% - 40px);
                }
            }

            &.item-2{
                top: 10px;
                left: calc(50% + 150px);

                @media screen and (max-width: $bp-LG){
                    left: calc(50% + 100.5px);
                }


                @media screen and (max-width: $bp-MD){
                    left: calc(50% + 65px);
                }
            }

            &.item-3{
                top: 230px;
                left: calc(75%);

                @media screen and (max-width: $bp-LG){
                    top: 135px;
                    left: calc(80%);
                }

                @media screen and (max-width: $bp-MD){
                    left: calc(83%);
                    top: 100px;
                }

                @media screen and (max-width: $bp-SM){
                    left: calc(88%);
                    top: 100px;
                }
            }

            &.item-4{
                top: 235px;
                left: calc(72.5%);

                @media screen and (max-width: $bp-LG){
                    top: 180px;
                    left: calc(79.5%);
                }

                @media screen and (max-width: $bp-MD){
                    left: calc(78%);
                    top: 135px;
                }

                @media screen and (max-width: 450px){
                    left: calc(89%);
                    top: 142px;
                }

                @media screen and (max-width: 320px){
                    left: calc(90%);
                    top: 195px;
                }
            
            }

            &.item-6{
                top: 465px;
                left: calc(50% - 70px);

                @media screen and (max-width: $bp-LG){
                    top: 377px;
                    left: calc(41%);
                }

                @media screen and (max-width: $bp-MD){
                    top: 265px;
                    left: calc(50% - 40px);
                }
            
            }

            &.item-5{
                top: 460px;
                left: calc(50% + 170px);

                @media screen and (max-width: $bp-LG){
                    top: 370px;
                    left: calc(65.5%);
                }

                @media screen and (max-width: $bp-MD){
                    top: 260px;
                    left: calc(50% + 70px);
                }
            
            }

            &.item-7{
                top: 240px;
                left: calc(31.5%);

                @media screen and (max-width: $bp-LG){
                    top: 180px;
                    left: calc(23.6%);
                }

                @media screen and (max-width: $bp-MD){
                    left: calc(30%);
                    top: 140px;
                }

                @media screen and (max-width: 500px){
                    left: calc(14%);
                    top: 140px;
                }
            }
            
            &.item-8{
                top: 210px;
                left: calc(25%);

                @media screen and (max-width: $bp-LG){
                    top: 256px;
                    left: calc(22.5%);
                }

                @media screen and (max-width: $bp-MD){
                    left: calc(21%);
                    top: 89.5px;
                }

                @media screen and (max-width: $bp-SM){
                    left: calc(14%);
                    top: 89.5px;
                }
            }
        }
    }
}