$color-primary: #161D38;
$color-secondary: #B89F80;
$color-dark: #0D0D2B;

// Colors Ventures
$c-ventures-primary: #BA1814;
$c-ventures-sec: #ED3833;
$c-ventures-terc: #9C211E;

// Colors Education
$c-education-primary: #9F349E;
$c-education-sec: #E153E0;

// Colors Health
$c-health-primary: #038874;
$c-health-sec: #00BD9F;

// Colors Impact
$c-impact-primary: #CB0000;

// Colors Women
$c-women-primary: #A43E79;
$c-women-sec: #691546;

// Colors Tech
$c-tech-primary: #0074C5;
$c-tech-sec: #00528C;

// Colors Aging
$c-aging-primary: #009DCC;
$c-aging-sec: #006887;

// Colors Educa
$c-educa-primary: #DAA402;
$c-educa-sec: #FFBA00;

// Colors Youth
$c-youth-primary: #D97E00;
$c-youth-sec: #995A03;

// Colors Agritech
$c-agritech-primary: #8F3F1B;
$c-agritech-sec: #842C05;

// Colors Angels
$c-angels-primary: #E5AC00;
$c-angels-sec: #FFBA00;

// Misc
$c-fintech: #00B3B6;
