@font-face {
    font-family: 'Kyrial B';
    font-style: normal;
    font-weight: normal;
    src: local('Kyrial Display Pro Bold'), url('../fonts/Kyrial-Display-Pro-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Kyrial R';
    font-style: normal;
    font-weight: normal;
    src: local('Kyrial Display Pro Regular'), url('../fonts/Kyrial-Display-Pro-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Myriad Semibold';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Semibold'), url('../fonts/MyriadPro-Semibold.woff') format('woff');
}


@font-face {
    font-family: 'Trebuchet';
    font-style: normal;
    font-weight: normal;
    src: local('TrebuchetMS'), url('../fonts/Trebuchet-MS.woff') format('woff');
}

@font-face {
    font-family: 'Trebuchet Bold';
    font-style: normal;
    font-weight: normal;
    src: local('TrebuchetMS Semibold'), url('../fonts/Trebuchet-MS-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Trebuchet Bold Italic';
    font-style: italic;
    font-weight: normal;
    src: local('TrebuchetMS Bold Italic'), url('../fonts/Trebuchet-MS-Bold-Italic.woff') format('woff');
}

@font-face {
    font-family: 'Trebuchet Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Trebuchet MS Italic'), url('../fonts/Trebuchet-MS-Italic.woff') format('woff');
}