.c-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    pointer-events: none;
    opacity: 0;
    z-index: 13;
    transition: all 0.4s;
    overflow: hidden;

    @media screen and (max-width: $bp-LG) {
        overflow-y: auto;
    }

    &[data-visible="true"] {
        opacity: 1;
        pointer-events: all;
    }

    .close {
        position: absolute;
        z-index: 4;
        right: 57px;
        top: 35px;
        height: 42px;
        width: 42px;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        background-image: url("../images/ico/close.png");
        opacity: 1 !important;
        transition: all 0.4s;
        outline: none !important;
        border: none !important;
        box-shadow: none !important;

        @media screen and (max-width: $bp-LG) {
            height: 30px;
            width: 30px;
            right: 21px;
            top: 24px;
        }
        &:hover {
            @include scale(1.3);
        }
    }

   

    .content {
        height: 100%;
        overflow: hidden;

        @media screen and (max-width: $bp-LG) {
            padding-left: 0;
            height: auto;
        }
    }
}