.form-control {
    height: 50px;
    border: 1.6px solid $c-ventures-sec;
    border-radius: 7px !important;
    color: rgb(24, 24, 24);
    width: 100%;
    @include transition();

    @media screen and (max-width: $bp-LG) {
        height: 48px;
    }

    &::placeholder {
        color: rgba(24, 24, 24, 0.76);
    }

    &:active,
    &:focus {
        outline: none;
        box-shadow: 0 0 0 2px rgb(216, 32, 32);
    }

    &.border-ang-p{
       &:active, &:focus{
            box-shadow: 0 0 0 2px rgb(216, 182, 32);
       }
    }
}

.send-btn {
    background-color: $c-ventures-sec;
    font-weight: 800;
    font-size: 28px;
    border-radius: 9px;
    padding: 4px 115px;
    margin: 0 auto;
    color: #fff;
    border: none !important;
    @include transition();

    @media screen and (max-width: $bp-LG) {
        font-size: 14px;
        border-radius: 15px;
        padding: 12px 40px;
    }

    i {
        font-size: 22px;
        margin-left: 12px;

        @media screen and (max-width: $bp-LG) {
            font-size: 13px;
            margin-left: 9px;
        }
    }

    &:hover {
        color: #fff;
        @include scale(1.05);
    }
}

.form-group {
    margin-bottom: 35px;

    @media screen and (max-width: $bp-LG) {
        margin-bottom: 14px;
    }

    .error {
        color: rgb(226, 76, 76);
        font-size: 14px;
        @media screen and (max-width: $bp-LG) {
            font-size: 12px;
        }
    }

    label {
        display: block;
        font-size: 16px;
        color: $color-dark;
        margin-bottom: 10px;
        @media screen and (max-width: $bp-LG) {
            font-size: 14px;
            margin-bottom: 5px;
        }
    }
}

textarea.form-control {
    height: auto;
}
