.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 12px;
    box-shadow: 0 6px 4px rgba(0,0,0,.17);
    background-color: #fff;
    z-index: 12;
    @include transition();

    @media (min-width: 1400px) {
        .container,
        .container-lg,
        .container-md,
        .container-sm,
        .container-xl,
        .container-xxl {
            max-width: 1320px;
        }
    }

    @media screen and (max-width: $bp-LG) {
        padding-top: 20px;
        padding-bottom: 16px;
        box-shadow: 0 6px 4px rgba(0,0,0,.15);
    }

    &.sticky {
        padding-top: 8px;
        padding-bottom: 6px;
        opacity: 1;

        .brand {
            width: 80px;

            @media screen and (max-width: $bp-LG){
                width: 60px;
            }
        }
        
        .main-nav {
            ul {
                li {
                    a {
                        font-size: 19px;

                        @media screen and (max-width: $bp-LG){
                            font-size: 11px;
                        }
                    }
                }
            }

        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        @media screen and (max-width: $bp-LG) {
            display: flex;
            flex-direction: column;
        }

        .brand {
            width: 106px;
            @include transition();

            @media screen and (max-width: $bp-LG) {
                width: 95px;
            }

            @media screen and (max-width: $bp-MD) {
                width: 85px;
            }
            @media screen and (max-width: 320px) {
                width: 75px;
            }
            &:hover {
                @include scale(1.02);
            }
        }

        .main-nav {
            display: flex;

            ul {
                display: flex;
                padding-top: 5px;

                li {
                    &:not(:last-child) {
                        margin-right: 30px;
                        @media screen and (max-width: $bp-MD) {
                            margin-right: 15px;
                        }
                    }

                    a {
                        display: block;
                        font-size: 21px;
                        color: $c-ventures-primary;
                        transition: all 0.4s;
                        
                        @media screen and (max-width: $bp-LG) {
                            font-size: 17px;
                            text-align: center;
                            font-weight: 500;
                        }
                        
                        @media screen and (max-width: $bp-MD) {
                            font-size: 16px;
                            text-align: center;
                            font-weight: 700;
                        }
                        @media screen and (max-width: $bp-SM) {
                            font-size: 14px;
                            text-align: center;
                            font-weight: 500;
                        }
                        @media screen and (max-width: 320px) {
                            font-size: 12px;
                        }
                        &:hover {
                            color: $c-ventures-sec;
                            @include scale(1.03);
                        }
                    }
                }
            }
        }
    }
}
