.main-footer {
    background-color: $c-ventures-primary;
    padding-top: 115px;
    padding-bottom: 55px;

    ul {
        .title {
            font-weight: 700;
            margin-bottom: 10px;
            font-size: 17px;
        }

        a {
            display: block;
            color: #fff !important;
            font-weight: 300;
            @include transition();

            &:hover {
                @include scale(1.05)
            }
        }
    }

    img {
        width: 160px;
    }

    .copyright {
        padding-top: 50px;

        hr {
            width: 90%;
            border: none;
            height: 2.5px;
            background-color: rgba(250, 250, 250, 0.37);
        }

        p {
            padding-top: 12px;
            text-align: center;
            font-size: 17px;
            font-weight: 800;
            color: rgba(250, 250, 250, 0.67);
        }

    }
}
