.main-footer {
    background-color: $c-ventures-primary;
    padding-top: 115px;
    padding-bottom: 55px;

    &.has-shadow{
        box-shadow: 0 -6px 4px rgba(0,0,0,.17);
    }

    @media screen and (min-width: $bp-LG) and (max-width: 1368px){
        padding-top: 35px;
        padding-bottom: 0;

        .container{
            @include scale(0.8);
        }
    }

    @media screen and (max-width: $bp-LG){
        padding-top: 20px;
        padding-bottom: 20px;
    }

    ul {
        
        .title {
            font-weight: 700;
            margin-bottom: 10px;
            font-size: 18px;
            
            @media screen and (max-width: $bp-MD){
                font-size: 16px;
                font-weight: 500;
                margin-bottom: 4px;
            }
        }

        li:not(.title){

            @media screen and (max-width: $bp-MD){
                margin-bottom: -5px;
                font-size: 13px;
            }
        }

        a {
            display: block;
            color: #fff !important;
            font-weight: 300;
            @include transition();

            @media screen and (max-width: $bp-MD){
                font-size: 13px;
            }

            &:hover {
                @include scale(1.05)
            }
        }

        .social{
            display: flex;
            margin-bottom: 7px;

            @media screen and (max-width: $bp-LG){
                justify-content: center;
            }

            @media screen and (min-width: $bp-LG) and (max-width: 1368px){
                @include scale(0.8);
            }

            a{
                font-size: 20px;
                margin: 0 12px;

                @media screen and (max-width: $bp-LG){
                    font-size: 16px;
                }

                &:first-child{
                    margin-left: 0;
                }
            }
        }
    }

    img {
        width: 160px;

        @media screen and (max-width: $bp-LG){
            display: block;
            width: 85px;
            margin: 0 auto;
            margin-bottom: 25px;
        }
    }

    .copyright {
        padding-top: 50px;

        @media screen and (max-width: $bp-LG){
            padding-top: 40px;
        }

        hr {
            width: 90%;
            border: none;
            height: 2.5px;
            background-color: rgba(250, 250, 250, 0.37);
            
            @media screen and (max-width: $bp-LG){
                height: 1.6px;
                width: 75%;
                background-color: rgba(250, 250, 250, 0.27);
            }
        }

        p {
            padding-top: 12px;
            text-align: center;
            font-size: 17px;
            font-weight: 800;
            color: rgba(250, 250, 250, 0.67);

            @media screen and (max-width: $bp-LG){
                font-weight: 400;
                font-size: 13px;
               padding-top: 0;
               margin-top: -5px;
            }
        }

    }
}
