.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(90deg, rgba(0,132,191,1) 46%, rgba(128,183,76,1) 70%);
    z-index: 13;
    opacity: 0;
    transform: scale(0.6);
    pointer-events: none;
    @include transition();

    @media screen and (max-width: $bp-MD){
        background: linear-gradient(90deg, rgba(0,132,191,1) 26%, rgba(128,183,76,1) 90%);
    }

    &.visible {
        opacity: 1;
        transform: scale(1);
        pointer-events: all;
    }

    &__content {
        position: relative;
        background-color: #fff;
        border-radius: 18px;
        max-width: 800px;
        max-height: 70vh;
        overflow: visible;
        box-shadow: 3px 4px 26px rgba(0, 0, 0, 0.067);
        width: 100%;
        padding: 20px 0;
        padding-right: 6px;

        &.h-sm{
            max-width: 650px;
        }

        @media screen and (max-width: $bp-MD) {
            width: 92%;
            max-height: 86vh;
        }
    }

    &__header {
        background: linear-gradient(90deg, rgba(0,132,191,1) 46%, rgba(128,183,76,1) 70%);
        border-radius: 10px;
        text-align: center;
        text-transform: uppercase;
        padding: 0;

        &.sm{
            padding: 0 4px;
            padding-top: 4px;
            .title{
                font-size: 21px;
                line-height: 1;
            }
        }

        .title{
            font-family: 'Trebuchet Bold';
            font-size: 27px;
            font-weight: bold;
        }
    }

    &__body {
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: relative;
        width: 100%;
        padding: 10px 60px;
        overflow-y: auto;
        max-height: 65vh;

        @media screen and (max-width: $bp-MD) {
            max-height: 76vh;
            padding: 10px 20px;
        }

        .subtitle {
            font-family: 'Trebuchet Bold';
            font-weight: bold;
            font-size: 26px;
            padding-top: 45px;
            margin-bottom: 30px;
            color: rgba(0,132,191,1);

            @media screen and (min-width: 768px) and (max-width: 769px){
                padding-top: 5px;
            }

            @media screen and (max-width: $bp-SM) {
                font-size: 22px;
                padding-top: 96px;
            }
        }

        small {
            padding-left: 16px;
            font-family: 'Trebuchet';
            font-size: 18px;
            color: rgba(0,132,191,1);
            @media screen and (max-width: $bp-MD) {
                font-size: 15px;
                padding-left: 0;
                line-height: 0.8px;
            }
        }

        .brand{
            width: 300px;
            margin: 0 auto;
            margin-top: 10px;
            margin-bottom: 35px;

            @media screen and (max-width: $bp-MD){
                width: 230px;
                margin-bottom: 25px;
            }
        }

        .desc{
            color: #6F6F6E;
            text-align: center;
            font-size: 21px;
            line-height: 1.2;
            margin: 0 -60px;
            padding-bottom: 10px;

            @media screen and (max-width: $bp-MD){
                font-size: 16px;
                margin: 0 -10px;
            }
        }
    }

    .closee {
        position: absolute;
        top: -18px;
        right: -18px;
        background: none;
        border: none;
        &:focus {
            outline: none !important;
        }

        img {
            width: 42px;
        }
    }
}
